# Change to your local development backend URL. The default is http://localhost:8080.
# When deploying to production, change this to the URL of your deployed backend.
VITE_API_URL=http://localhost:8080
VITE_DEBUG_INPUT_FORM=false
VITE_DEBUG_STORY_GENERATION=false