.button-labeled {
    font-size: 24px;
    width: auto;
    display: inline-block;
    padding: 24px 36px;
    cursor: pointer;
    user-select: none;
    border: none;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    background-color: #101010;
    border-radius: 12px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: #303030;
    }

    @media (max-width: 768px) {
        font-size: 20px;
        padding: 20px 30px;
    }
    @media (max-width: 480px) {
        font-size: 16px;
        padding: 16px 24px;
    }
    @media (max-width: 360px) {
        font-size: 12px;
        padding: 12px 18px;
    }
}