:root {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Type Styling */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*

Custom CSS specific to the project

*/

/* Button styling */
.button-labeled {
  font-size: 24px;
  width: auto;
  display: inline-block;
  padding: 24px 36px;
  cursor: pointer;
  user-select: none;
  border: none;
  color: #FFF;
  text-align: center;
  background-color: #101010;
  border-radius: 12px;
  transition: background-color 0.1s ease-in-out;

  &:hover, &:focus, &:active {
      background-color: #303030;
  }

  @media (max-width: 768px) {
      font-size: 20px;
      padding: 20px 30px;
  }
  @media (max-width: 480px) {
      font-size: 16px;
      padding: 16px 24px;
  }
  @media (max-width: 360px) {
      font-size: 12px;
      padding: 12px 18px;
  }
}

