@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Mukta", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  @apply m-0 p-0 h-full;
}

/**
 * This is to prevent the page from scrolling when the modal is open on Mobile Safari.
 * It's dumb that we have to do this in two places, both here and on the parent container.
 */
.no-scroll {
  @apply overflow-hidden h-full max-h-full touch-none;
}