.modal {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);

    .modal-content {
        width: 80%;

        p {
            font-size: 36px;
            line-height: 1.6;
            margin-bottom: 60px;
        }
    }

    // mobile
    @media (max-width: 768px) {

        align-items: flex-start;
        padding-top: 100px;

        .modal-content {

            width: 90%;

            p {
                font-size: 24px;
                line-height: 1.6;
            }

        }
    }
    @media (max-width: 480px) {

        .modal-content {

            p {
                font-size: 18px;
                line-height: 1.6;
            }

        }
    }

    .modal-close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        user-select: none;
        border: none;
        color: #FFF;
        text-align: center;
        background-color: #101010;
        border-radius: 12px;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: #303030;
        }
    }

    .modal-regenerate-button {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

}